USE [master]
GO
/****** Object:  Database [Phonetic] ******/
CREATE DATABASE [Phonetic] ON  PRIMARY 
( NAME = N'SQLTest', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SQLTest.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SQLTest_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SQLTest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Phonetic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Phonetic]
GO
/****** Object:  Table [dbo].[NATO] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NATO](
	[id] [int] NOT NULL,
	[letter] [varchar](10) NULL,
 CONSTRAINT [PK_letter] PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT INTO [dbo].[NATO]
    (id, letter)
VALUES
    (1,'Alfa'),
    (2,'Bravo'),
    (3,'Charlie'),
    (4,'Delta'),
    (5,'Echo'),
    (6,'Foxtrot'),
    (7,'Golf'),
    (8,'Hotel'),
    (9,'India'),
    (10,'Juliett'),
    (11,'Kilo'),
    (12,'Lima'),
    (13,'Mike'),
    (14,'November'),
    (15,'Oscar'),
    (16,'Papa'),
    (17,'Quebec'),
    (18,'Romeo'),
    (19,'Sierra'),
    (20,'Tango'),
    (21,'Uniform'),
    (22,'Victor'),
    (23,'Whiskey'),
    (24,'X-Ray'),
    (25,'Yankee'),
    (26,'Zulu');